<p>Listagem dos empregados(as)</p>
<table aria-describedby="Tabela empregados">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Salário</th>
      <th>Bônus</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let employee of employeeService.employees; let i = index"
      [id]="'tr' + i"
    >
      <!-- pode ser feito desta forma -->
      <!-- <td>{{ employee.name }}</td> -->
      <!-- <td>{{ employee.salary }}</td> -->
      <!-- ou desta outra forma -->
      <td [innerHTML]="employee.name"></td>
      <!-- <td
        [innerHTML]="employee.salary"
        [style.color]="getSalaryColor(employee)"
      ></td> -->
      <!-- Outra possibiliadade usando o ngClass para usar lógica e alterar a cor do salário -->
      <td
        [innerHTML]="employee.salary"
        [ngClass]="getSalaryColorClass(employee)"
      ></td>
      <td [innerHTML]="employee.bonus"></td>
    </tr>
  </tbody>
</table>
